* {
  box-sizing: border-box;
}

body{
  background-color: #f2f2f2;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.app-window{
  height: 100vh;
  display: flex;
  background-color: #ededed;
}

.sidebar{
  width: 35%;
  max-width: 415px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ddd;

}

header{
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;

}

.header--avatar{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ddd;
  margin-right: 10px;
  cursor: pointer;
}

.header--buttons{
  display: flex;
  align-items: center;
}

.header--btn{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-right: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search{
  background-color: #f6f6f6;
  padding: 5px 15px;
  border-bottom: 1px solid #eee;
}

.search--input{
  background-color: #fff;
  height: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.search--input input{
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
  margin-left: 10px;

}

.chatlist{
  flex: 1;
  overflow-y: auto;
  background-color: #fff;
}

.chatlist::-webkit-scrollbar{
  width: 6px;
  height: 6px;
}

.chatlist::-webkit-scrollbar-thumb{
  background-color: rgba(0,0,0,0.2);
  border-radius: 10px;
}

.contentarea{
  flex: 1;
}